<div class="container-fluid p-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="fw-bold m-0" style="cursor:pointer;" routerLink="/">
      🅿 PARKEE
    </h3>

  </div>

  <div class="row">

    <div class="col-md-8">
      <div class="border rounded bg-light p-3" style="height:380px;">
        <div class="w-100 h-100 d-flex justify-content-center align-items-center text-muted">
          <span>ENTRY CAMERA</span>
        </div>
      </div>

      <div class="mt-4">

        <label class="fw-semibold small">Plat Nomor Kendaraan</label>
        <div class="form-group mb-4">
          <input type="text" class="form-control p-3" placeholder="Vehicle Plate Number" [(ngModel)]="plateNumber" />
        </div>

        <label class="fw-semibold small">Jenis Kendaraan (TR)</label>
        <select class="form-select p-3 mb-4" [(ngModel)]="vehicleType">
          <option value="" disabled selected>Pilih Jenis Kendaraan</option>
          <option value="MOBIL">Mobil</option>
          <option value="MOTOR">Motor</option>
        </select>

        <button class="btn btn-outline-secondary w-100 py-3 fw-semibold" [disabled]="loading" (click)="checkMember()">
          Check Plate Number
        </button>

      </div>
    </div>

    <div class="col-md-4">
      <div class="border rounded p-3 ms-md-3">

        <div class="text-end small text-muted">
          {{ now | date:'dd MMM yyyy HH:mm:ss' }}
        </div>

        <h6 class="mt-4 mb-3 fw-bold">Info Masuk</h6>

        <table class="table table-sm">
          <tbody>
            <tr>
              <td class="text-muted">Jenis Parkir</td>
              <td>{{ dataDetail.jenisParkir }}</td>
            </tr>
            <tr>
              <td class="text-muted">Member Expired</td>
              <td>{{ dataDetail.expiredDate | date:'dd MMM yyyy' }}</td>
            </tr>
            <tr>
              <td class="text-muted">Nama Member</td>
              <td>{{ dataDetail.name }}</td>
            </tr>
          </tbody>
        </table>


        <div class="mt-4">
          <button [ngClass]="isMemberChecked ? 'btn btn-danger w-100 py-3 mb-3' : 'btn btn-secondary w-100 py-3 mb-3'"
            (click)="submit()" [disabled]="loading || !isMemberChecked">
            Cetak Ticket
          </button>

          <button class="btn btn-outline-secondary w-100 py-3" (click)="resetPage()">
            Atur Ulang Halaman (F5)
          </button>
        </div>

      </div>
    </div>

  </div>
</div>